<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="profileForm" class="profile-form" (ngSubmit)="update()">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="John">
        <mat-error *ngIf="firstName.errors?.['required']">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="Doe">
        <mat-error *ngIf="lastName.errors?.['required']">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.errors?.['required']">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-fab extended color="primary" class="update-btn" [disabled]="profileForm.invalid || (isLoading$ | async)">
        <span class="update-btn__content">
          Update
          <mat-spinner diameter="20" *ngIf="isLoading$ | async"></mat-spinner>
        </span>
      </button>
    </form>
  </mat-card-content>
</mat-card>

