<section class="record-container">
  <div class="record-poster">
    <button *ngIf="(user$ | async)" mat-fab color="primary" class="bookmark-btn" (click)="bookmark()">
      <mat-icon aria-hidden="false" [color]="isBookmarked ? 'accent' : ''" aria-label="Add to cart" fontIcon="bookmarks"></mat-icon>
    </button>
    <picture>
      <source [srcset]="record.poster_large" media="(min-width: 720px)" />
      <source [srcset]="record.poster_small" media="(max-width: 719px)" />
      <img [src]="record.poster_large" [alt]="record.title" />
    </picture>
  </div>
  <div class="record-details">
    <h1>{{ record.title }}</h1>
    <p>{{ record.description }}</p>
    <p>Year: {{ record.year }}</p>
    <p>Duration: {{ record.duration }} min</p>
    <div class="record-footer">
      <p>Price: {{ record.price }} $</p>
      <app-add-to-cart-button *ngIf="(user$ | async)" (clicked)="addToCart(record)" />
    </div>
  </div>
</section>
