:host {
  flex: 1;
  gap: 25px;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

  &::after {
    content: "";
    flex-basis: 350px;
  }
}