:host {
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  height: 90%;
  padding: 10px 0;

  nav {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mat-icon.logo {
    scale: 1.5;
  }

  .nav-actions {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    & button:first-child {
      margin-bottom: 10px;
    }
  }

  nav > mat-list {
    margin-top: 30px;
  }
}