<nav>
  <mat-icon class="logo" color="warn" aria-hidden="false" aria-label="Logo" fontIcon="movie"></mat-icon>
  <mat-nav-list role="navigation">
    <a mat-list-item role="listitem" routerLink="">
      <mat-icon aria-hidden="false" color="primary" aria-label="Dashboard" fontIcon="dashboard"></mat-icon>
    </a>
    <a mat-list-item role="listitem" routerLink="/movies">
      <mat-icon aria-hidden="false" color="primary" aria-label="Movies" fontIcon="videocam"></mat-icon>
    </a>
    <a mat-list-item role="listitem" routerLink="/series">
      <mat-icon aria-hidden="false" color="primary" aria-label="Series" fontIcon="tv"></mat-icon>
    </a>
    <a mat-list-item role="listitem" routerLink="/bookmarks">
      <mat-icon aria-hidden="false" color="primary" aria-label="Book marked items" fontIcon="bookmarks"></mat-icon>
    </a>
  </mat-nav-list>
  <div class="nav-actions">
    <button mat-mini-fab color="primary" [matBadge]="cartLength()" matBadgeColor="warn" (click)="openCart()">
      <mat-icon aria-hidden="false" aria-label="Open cart" fontIcon="shopping_cart"></mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="toggleMode()">
      <mat-icon *ngIf="!isDarkMode">brightness_5</mat-icon>
      <mat-icon *ngIf="isDarkMode">bedtime</mat-icon>
    </button>
    <button mat-mini-fab color="primary"  [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="User" fontIcon="account_circle"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngIf="!(token$ | async)">
        <a mat-menu-item routerLink="/login">Login</a>
        <a mat-menu-item routerLink="/register">Register</a>
      </div>
      <div *ngIf="token$ | async">
        <a mat-menu-item routerLink="/profile">Profile</a>
        <a mat-menu-item (click)="logout()">Logout</a>
      </div>
    </mat-menu>
  </div>
</nav>
