<nav>
  <mat-icon aria-hidden="false" aria-label="Logo" fontIcon="movie"></mat-icon>
  <mat-list role="navigation">
    <a mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Dashboard" fontIcon="dashboard"></mat-icon>
    </a>
    <a mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Movies" fontIcon="videocam"></mat-icon>
    </a>
    <a mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Series" fontIcon="tv"></mat-icon>
    </a>
    <a mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Book marked items" fontIcon="bookmarks"></mat-icon>
    </a>
  </mat-list>
  <mat-icon aria-hidden="false" aria-label="User" fontIcon="account_circle"></mat-icon>
</nav>
