// .mat-grid-list {
//   height: 100%;
//   padding-bottom: 0px !important;
// }

.grid-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.grid-nav {
  height: 90%;
}

.grid-main {
  display: flex;
  height: 90%;
  // margin-left: 10px;
  overflow-y: auto;
  // padding: 5px;
  width: 100%;
  justify-content: center;
}

// .mat-grid-tile {
//   height: 100%;
//   padding-top: 0px !important;
// }

@media (max-width: 719px) {
  .grid-container {
    flex-direction: column;
  }

  .grid-nav {
    height: auto;
    width: calc(100% - 20px);
    margin: 5px 10px 20px;
  }
}