.grid-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.grid-nav {
  height: 95%;
}

.grid-main {
  display: flex;
  height: 95%;
  overflow-y: auto;
  width: 100%;
  justify-content: center;
}

@media (max-width: 719px) {
  .grid-container {
    flex-direction: column;
  }

  .grid-nav {
    height: auto;
    width: calc(100% - 20px);
    margin: 5px 10px 20px;
  }
}