:host {
  flex-basis: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .54);

  .card-container {
    position: relative;
  }

  .img-container {
    width: 100%;
    height: 500px;
    background-color: blueviolet;
  }

  img {
    width: 100%;
    display: block; 
    height: 100%;
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
  }

  .card-footer {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    h3 {
      overflow: hidden;
      white-space: nowrap;
      font-size: 30px;
      text-overflow: ellipsis;
    }
  }

  .bubble {
    position: absolute;
    right: 15px;
    z-index: -1;
    font-weight: bolder;
    font-size: 18px;
    opacity: 1;
  }
}