<article class="card-container">
  <app-bookmark-button *ngIf="(user$ | async)" (clicked)="bookmark()" [isBookmarked]="isBookmarked" />
  <div class="img-container">
    <a [routerLink]="['/details', movie._id]">
      <img [src]="movie.poster_small" [alt]="movie.title">
    </a>
    
  </div>
  <div class="card-info">
    <span>{{ movie.year }}</span>
    <span>{{ movie.duration.toString().includes('min') ? movie.duration : movie.duration + ' min' }}</span>
    <span>{{ movie.price }} $</span>
  </div>
  <div class="card-footer">
    <h3>{{ movie.title }}</h3>
    <app-add-to-cart-button *ngIf="(user$ | async)" (clicked)="addToCart(movie)"  />
  </div>
</article>
