<article>
  <div class="img-container">
    <a [routerLink]="['/details', movie._id]">
      <img [src]="movie.poster_small" [alt]="movie.title">
    </a>
    
  </div>
  <div class="card-info">
    <span>{{ movie.year }}</span>
    <span>{{ movie.duration }}min</span>
    <span>{{ movie.price }} $</span>
  </div>
  <div class="card-footer">
    <h3>{{ movie.title }}</h3>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Add to cart" fontIcon="shopping_cart"></mat-icon>
    </button>
  </div>
</article>
